* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* banner */
#banner {
  height: 669px;
  background: url(images/donation7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  z-index: 1;
  margin: auto;
  padding: 10px;
}
#banner::after {
  content: "";
  top: 0px;
  left: 0px;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
}
.top-paragraph {
  color: white;
  font-size: 19px;
  text-align: center;
  padding-top: 30px;
  width: 826px;
}
.top-btn {
  padding-top: 40px;
}
.btn {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 13px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background: white;
  color: black;
}
/* banner end */

/* Donate today */
.second-sec {
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.h2-other-sec {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.p-other-sec {
  text-align: center;
  width: 691px;
  font-size: 18px;
  color: #707070;
  padding-top: 30px;
}
#donation-money {
  display: flex;
  padding-top: 30px;
}
.donation-money-p {
  display: flex;
  margin: 20px;
  height: 135px;
  width: 160px;
  border-radius: 7px;
  color: #707070;
  background-color: #f2f2f2;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
#coloured-p {
  display: flex;
  margin: 20px;
  height: 135px;
  width: 160px;
  border-radius: 7px;
  color: #ff5959;
  background-color: rgba(255, 89, 89, 0.4);
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff5959;
}
.amount-form input {
  margin-top: 30px;
  width: 700px;
  border: none;
  padding: 20px;
  border-bottom: 2px solid #dadada;
  text-align: center;
}
.btn-other-sec {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 13px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.btn-other-sec:hover {
  background-color: black;
  color: white;
}
/* Donate today end */

/* donate our plan */
#plan {
  margin-top: 40px;
}
#planning-h2-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#donate-cards {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
}
.cards {
  display: flex;
  padding: 40px 130px 40px 35px;
  border-radius: 8px;
  font-size: 16px;
  width: 200px;
  margin: 0 10px;
  flex-direction: column;
  align-items: baseline;
}
.cards h3 {
  font-size: 20px;
  margin-top: 10px;
}
.cards p {
  margin-top: 20px;
  text-align: justify;
  width: 300px;
}
/* Donate our plan end */
/* subscribe */
#update-text {
  margin-top: 50px;
  text-align: center;
}
#update-text h2 {
  font-size: 25px;
}
#update-text p {
  margin: 20px auto;
  font-size: 18px;
  width: 800px;
}
#update {
  display: flex;
  width: 0px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 100px 500px;
  background-color: #fff4d6;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.subscribe input {
  background-color: #d9d9d9;
  padding: 10px 80px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  text-align: left;
}
.btn-update {
  color: white;
  background-color: #ff5959;
  padding: 11.5px 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
/* subscribe end */

/* join-us */
#join-us {
  height: 669px;
  background: url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  z-index: 1;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
}
#join-us::after {
  content: "";
  top: 0px;
  left: 0px;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}
.join-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px;
  padding: 60px;
  background-color: #ff5959;
}
.join-us-text-h1 {
  font-size: 35px;
  color: white;
}
.join-us-text p {
  color: white;
  font-size: 18px;
  text-align: center;
}
.join-us-btn {
  margin-top: 30px;
  border: 2px solid white;
  font-weight: 400;
}
.join-us-btn:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

/* join-us end */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 150px;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 35px;
  color: #ff5959;
  font-family: "Lobster", cursive;
}
.footer-paragraph {
  color: #d9dbe1;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
#plan-cards-01 {
  background-color: rgba(79, 157, 166, 0.2);
}
#plan-cards-02 {
  background-color: rgba(255, 89, 89, 0.2);
}
#plan-cards-03 {
  background-color: rgba(255, 244, 214, 0.3);
}
/* footer end */
